*~
*.pyc
*.old
#*
.#*
.*.swp
.*.swo
app/dist
frontend/dist
frontend/www/new/admin_new/.cache/
**/.vscode/
frontend/www/new/admin_new/.env.production
perl-lib/OESS/Makefile
perl-lib/OESS/MANIFEST.bak
perl-lib/OESS/t/conf/SNMP/*
frontend/www/.htpasswd
frontend/.htpasswd
nox/**/Makefile
nox/**/.deps/
nox/**/*.la
nox/**/*.lo
nox/**/*.so
nox.tar.gz
nox/Makefile.in
nox/autom4te.cache/
nox/config.h
nox/config.log
nox/config.status
nox/configure
nox/doc/doxygen/doxygen.conf
nox/libtool
nox/nox.tar.gz
nox/src/nox/coreapps/pyrt/deferredcallback.py
nox/src/nox/netapps/data/pydatacache.py
nox/src/nox/netapps/data/pydatatypes.py
nox/src/nox/netapps/switch_management/pyswitch_management.py
nox/src/nox/netapps/tests/pytests.py
nox/src/nox/swigpyrun.h
nox/src/nox/webapps/webserver/www-install-final/
nox/stamp-h1
perl-lib/OESS/perl-OESS-*.tar.gz
perl-lib/OESS/MYMETA.json
perl-lib/OESS/MYMETA.yml
perl-lib/OESS/lib/OESS/Collector
perl-lib/OESS/lib/OESS/Collector.pm
perl-lib/OESS/share/scripts/oess-migrate/connection_id_list.csv
perl-lib/OESS/share/scripts/oess-migrate/shim_interface_mapping.csv
perl-lib/OESS/share/scripts/oess-migrate/config.json
etc/packer-config/output-virtualbox-iso/
etc/packer-config/packer_cache/
perl-lib/OESS/blib/
perl-lib/OESS/cover_db/
perl-lib/OESS/pm_to_blib
perl-lib/OESS/tap/
perl-lib/OESS/lib/OESS/pod2htmd.tmp
perl-lib/OESS/lib/OESS/pod2htmi.tmp
perl-lib/OESS/lib/OESS/t/conf/database.xml
frontend/.htpasswd
.vscode/
.env
.env.development
*.DS_Store*
