#user_search_div{
display: inline-flex;
float:left;
text-align:left;
margin-left:105px;
margin-bottom:8px;
}
#soft_title{
margin-top: 10;
margin-left:0;
margin-right:0;
margin-bottom: 1em;
}
#user_search_label{
    margin-right: 1em;
    text-align: center;
}
.user_table{
    width: 90%;
    margin-left: 25px;
}
#user_table_nav{
    width: 15%;
    margin-bottom: 5%;
}
.title{
    margin-top: 1em;
    font-size: 20px;
}
tr:hover td{
    background-color:#B2D2FF !important;
}
.modal-backdrop{
	z-index:1;
}

.navbar-brand-logo{
	float: left;
	max-height: 35px;
	margin-right: 10px;
	margin-top: -7px;
	width: initial;
}
.dropdown-menu li a{
	word-wrap: break-word !important;
    	white-space: normal !important;
}
.table {
    width: 90% !important;
    max-width: 90% !important;
}
.modal-label{
    padding-right: 3px !important;
    padding-left: 3px !important;
}
.modal-select{
    width: 60% !important;
    float: left !important;
    margin-left: 15px !important;
}
