Alias /oess/tiles             /usr/share/nddi-tiles/
Alias /oess/services          /usr/share/oess-frontend/webservice
Alias /oess/yui/build         /usr/share/yui2
Alias /oess/notification-img  /usr/share/oess-frontend/www/media/notification
Alias /oess                   /usr/share/oess-frontend/www
Alias /idc                    /usr/share/oess-frontend/webservice/idc


<Location /idc>
    AddHandler cgi-script .cgi
    DirectoryIndex index.cgi
    Options ExecCGI
    Order allow,deny
    Allow from all
    Satisfy any
</Location>


<Location /oess>
    AddHandler cgi-script .cgi
    DirectoryIndex index.cgi
    Options ExecCGI
    Order allow,deny
    Allow from all

    AuthType Basic
    AuthName "OESS"
    AuthUserFile /usr/share/oess-frontend/www/.htpasswd
    Require valid-user
</Location>


<Location /oess/notification-img >
    Satisfy Any
    Allow from all
</Location>


<Location /oess/services>
  AddHandler cgi-script .cgi
  Options ExecCGI
  Order allow,deny
  Allow from all

  AuthType Basic
  AuthName "OESS"
  AuthUserFile /usr/share/oess-frontend/www/.htpasswd
  Require valid-user
</Location>

Redirect 301 /oess/admin/admin_index.cgi /oess/admin
