Alias /oess/tiles      /usr/share/nddi-tiles/
Alias /oess/services   /usr/share/oess-frontend/webservice
Alias /oess/yui/build  /usr/share/yui2
Alias /oess            /usr/share/oess-frontend/www

<Directory "/usr/share/oess-frontend/www">
	SSLRequireSSL
	AddHandler cgi-script .cgi
	DirectoryIndex index.cgi
	Options ExecCGI
	Order allow,deny
	Allow from all

	AuthType Basic
	AuthName "OESS"
	AuthUserFile /usr/share/oess-frontend/www/.htpasswd
	Require valid-user
</Directory>

<Directory "/usr/share/oess-frontend/webservice">
	SSLRequireSSL
	AddHandler cgi-script .cgi
	Options ExecCGI
	Order allow,deny
	Allow from all

	AuthType Basic	   
	AuthName "OESS"
	AuthUserFile /usr/share/oess-frontend/www/.htpasswd
	Require valid-user
</Directory>

Alias /idc            /usr/share/oess-core/idc

<Directory "/usr/share/oess-core/idc">
        SSLRequireSSL
        AddHandler cgi-script .cgi
        DirectoryIndex index.cgi
        Options ExecCGI
        Order allow,deny
        Allow from all
</Directory>