Greetings workgroup [%workgroup%],
[% SWITCH type %]
[%  CASE 'provisioned' %]
Circuit [% circuit_description %] has been provisioned by [% user $]

[% CASE 'removed' %]
The circuit [%circuit_description%] has been decommissioned by [% user %]

[% CASE 'modified' %]
The circuit [% circuit_description %] has been edited by user [% user %].

[% CASE 'change_path' %]
The following circuit has successfully changed path to the [% active_path %] path because [% reason %]

[% CASE 'unknown' %]
The following circuit is in an unknown state because [% reason %]
This circuit may currently be unavailable.

[% CASE 'down' %]
This circuit was affected by an outage however because it[% reason %] the circut is currently unavailable.

[% CASE 'restored' %]
This circuit has been restored because [% reason %]

[% END %]

The details of the circuit are below:

[%clr%]

Sincerely,

[%from_signature_name%]