.success,
.warning {
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    margin-bottom: 5px;
}

.success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}

div.main_page_container {
    background: url(../media/oess-frame-body.png) repeat-y bottom;
    width: 1024px;
    text-align: left;
}

div.main_page_header {
    background: url(../media/oess-frame-head.png) no-repeat bottom;
    height: 110px;    
    width: 1024px;
}

tr.guest-workgroup {
    color:#779;
    font-style:italic;
}

div.main_page_footer {
    background: url(../media/oess-frame-footer.png) no-repeat bottom;
    height: 31px;
    width: 1024px;
}

body {
    font-family: Arial,Helvetica,sans-serif !important;    
//    background: url(../media/background-gradient.png) repeat-x top;
    background-color: #eaeaea;
}

a.network_link{
    top: 5px;
}

p.title {
    font-family: Arial Black,Helvetica,sans-serif !important;
    margin: 0px;
}

p.subtitle {
    color: grey;
    font-size: 85%;
    margin: 0px;
}

.soft_title {
    margin: 0px;
    font-weight: bold;
    color: grey;
}

.confirmation {
    background-color: #F8F8C6;
    display: inline;
}

.status_text {
    font-weight: bold;
    color: green;
}

div.openlayers{
    width: 100%;//698px;//558px;
    height: 360px;	
    border: 1px solid #cccccc;
}

div.openlayers.smaller {
    width: 465px;
    height: 300px;
}

div.top_nav {
    padding-top: 90px;
}

div.breadcrumbs {
    text-align: left;
    float: left;
    font-size: 88%;
    margin-left: 35px;
}

div.breadcrumbs a {
    color: #DDDDDD;
}

#tag_selection {
    text-align: left;
}

div#tag_selection button {
    font-size: 85%;
}

div#tag_selection #add_new_vlan_tag_button {
    position: relative;
    top: 4px;
    left: 4px;
} 

div#page_summary_container {
    float: left; 
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

div#details_tabs {
    width: 930px;
    background-color: white;
}

div#details_tabs #traffic_graph {
    height: 258px;
}

div#next_button_container {
    float: right; 
    padding-right: 40px; 
    padding-top: 17px;
    font-size: 90%;
}

div#view_details_buttons_div {
    float: right;
    width: 130px;
    margin-right: 100px;
    margin-top: -230px;
}

div#view_details_buttons_div button {
    width: 130px;
}

div#view_details_buttons_div .button_holder {
    padding-bottom: 15px;
}

div#details_tabs .yui-content {
    border: 0;
    background: white;
    height: 280px;
}
div#workgroup_tabs .yui-content {
    background: white;
}
.yui-skin-sam .yui-navset-left .yui-nav .selected a {
    background: #2647A0 url(../yui/build/assets/skins/sam/sprite.png) repeat-x left -1400px !important;    
}

.yui-skin-sam .yui-button, .yui-skin-sam .yui-button .first-child {
    border-radius: 10px;
    outline-width: 0px;
}

.yui-button button {
    outline-width: 0px;
}

.popup_box .yui-button, .popup_box .yui-button button {
    width: 50px;
    text-align: center;
    font-size: 90%;
}

.popup_box_error {
    color: #a94442; 
}
.popup_box_error.yui-panel .bd {
    background-color: #f2dede;
}
.popup_box_error.yui-panel .bd button {
    background-color: rgba(255,0,0,.5);
    border-radius: 10px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
}
.popup_box_error.yui-panel .bd button:hover {
    background-color: rgba(255,0,0,.2);
}
.popup_box_error.yui-panel .hd {
    border-bottom-color: #d43f3a;
    color: #a94442; 
}
.yui-skin-sam .yui-panel.popup_box_error {
    border-color: #d43f3a;
}


div.active_workgroup_container {
    float: right; 
    font-size: 90%; 
    margin-top: 90px;
    margin-right: -70px;
    color: white;
}

div.main_page {
    width: 1024px;
    clear: both;
    min-height: 500px;
    margin-left: 26px;
}

div.admin {
    margin-left: 15px;
    width: 960px;
}

.yui-nav {
    border-color: #666666 !important;
}

div.admin .yui-nav {
    width: 100px;
}

div.admin div.yui-content {
    margin-left: 30px;
    min-height: 600px;
    background-color: #FFFFFF !important;
    border: 0 !important;
}

div#footer {
    width: 1024px;
    text-align: center;
}

div.map_legend table {
    font-size: 10px;
    font-style: italic;
}

div.map_legend table td img {
    height: 15px;
    width: 15px;
}

div.map_legend table td div {
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
//    border-radius: 10px;
}

div.provision_time_selection {
    margin-left: 10px;
    padding: 8px;
    background-color: #F8F8C6;
}

span.breadcrumb_spacer {
    padding-left: 4px;
    padding-right: 4px;
    color: #eaeaea;
}

.disabled_breadcrumb {
    color: #474747;
    text-decoration: line-through;
}

span.selected_breadcrumb {
    font-weight: bold;
    color: white;
    font-size: 105%;
}

span#interdomain_path_status {
    float: right;
    font-style: italic;
    font-size: 80%;
    height: 5px;
}

span.future_breadcrumb {
    color: #ECECEC;
}

table.map_table td {
    padding-right: 10px;
    padding-bottom: 4px;
}

table.nicely_spaced td{
    padding-top: 10px;
    padding-left: 10px;
}

table.circuit_summary_table {
    width: 750px;
}

table.circuit_summary_table td{
    padding-top: 8px;
    padding-left: 6px;
}

table.circuit_summary_table td div {
    margin-left: 8px;
}

table.circuit_summary_table label {
    color: grey;
    font-weight: bold;
}

table.circuit_summary_table tr{
    padding-top: 10px;
}

.endpoint_delete_button{
    font-size: 10px;
}

#sliderbg { 
    position: relative; 
    background:url(../media/bg-fader.gif) 5px 0 no-repeat; 
    height:28px; 
    width:228px;  
    float:left;
} 

#slider-value{
    float:right;
}

#sliderthumb { 
    position: absolute; 
    top: 6px; 
}

#circuit_endpoints_table {
}

#circuit_endpoints_table th{
    font-size: 11px;    
}

#circuit_endpoints_table.yui-dt-scrollable .yui-dt-bd {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    overflow-x: hidden;
}

#circuit_endpoints_table .yui-dt-hd {

}

#circuit_endpoints_table.yui-dt tr td.yui-dt-first {
    border-left: 1px solid #CBCBCB;
}

#circuit_endpoints_table .yui-dt-message td {
    border-bottom: 1px solid #CBCBCB;
}

.yui-skin-sam .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td {
    border-bottom: 1px solid #CBCBCB;
}

.yui-skin-sam tr.yui-dt-odd {
    background-color: #EFEFEF;
}

.yui-skin-sam tr.yui-dt-highlighted {
    background-color: #B2D2FF
}

.yui-skin-sam .yui-layout {
    background-color: #FFFFFF;
}

.olPopup {
    border-radius: 10px;
    opacity: 0.8 !important;
    filter:alpha(opacity=80) !important;
}

#path_node_selector_chzn {
	float:right;
	
}

.oess_yui_nav {
    width: 110px !important;
}

.oess_yui_nav li {
    white-space: nowrap; 
}

.oess_drag_and_drop tr {
    cursor: crosshair !important;
}

.interface_acl_table {
    margin-bottom: 5px;
    text-align: left;
}

.features_errors li {
    list-style-type: disc !important;
    list-style-position: outside !important;
}


/* admin maintenance tab */
#maintenance_content {
    width: 90%;
    margin: 0 auto;
}
.maintenance_container {
    text-align: center;
}
#edge_int_maint_table table {
    min-width: 100%;
}
.maint_actions_holder {
    text-align: right;
    margin-bottom: 5px;
}
.maint_actions_holder > label {
    float: left;
    color: grey;
    margin-top: 10px;
}
.move_edge_int_form {
    text-align: left;
}
.move_edge_int_form .chzn-container {
    vertical-align: bottom;
    width: 175px !important;
}

/*.move_edge_int_form .chzn-drop > * {*/
.move_edge_int_form select {
    width: 175px;
}
.move_edge_int_form > div > div,
.move_edge_int_form > div > select,
.move_edge_int_maint_name_input > * {
    display: inline-block; 
}
    
.move_edge_int_maint_name_input > div,
.move_edge_int_form > div > div {
    width: 110px;
}
.move_edge_int_maint_name_input,
.move_edge_int_form > div {
    margin-bottom: 5px;
}

.move_edge_int_form .yui-buttongroup {
    margin-top: 10px;
}

.move_edge_int_form .ckt_table_holder {
    display: none;
    background-color: #DADADA;
    padding: 10px;
    border-radius: 5px;
    border: 1px darkgrey solid;
}
.move_edge_int_form .ckt_table_holder > div {
    margin-bottom: 5px;
}
.move_edge_int_form .ckt_table_holder p {
    color: dimgrey;
}

.move_edge_int_form .yui-dt {
    display: block;
}

.move_edge_int_form .yui-dt,
.move_edge_int_form .yui-dt table {
    width: 100% !important;
}


/* end admin maintenance tab */
#node_interface_table .yuimenu .bd {
    padding: 0px;
    border-width: 1px;
}
/*
#node_interface_table .yuimenu.visible {
    position: relative !important;
    display: inline-block;
    float: right;
}
*/
#int_move_panel .ft {
    text-align: right;
}
#traceroute_endpoint_table{
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}
#traceroute_results_table {
    margin-top:5px;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
}
#traceroute_results {
    margin-top:5px;
}
#traceroute_endpoint_table {
    margin-bottom: 10px;
}
.yui-skin-sam .yui-dt tr.spinnerRow, 
.yui-skin-sam .yui-dt tr.spinnerRow td.yui-dt-asc, 
.yui-skin-sam .yui-dt tr.spinnerRow td.yui-dt-desc, 
.yui-skin-sam .yui-dt tr.spinnerRow td.yui-dt-asc, 
.yui-skin-sam .yui-dt tr.spinnerRow td.yui-dt-desc {
    background-color: #a33; 
    background-image: url("media/loading.gif");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 50%;
}
p.timedout {
  font-weight:bold;
}
p.complete {
  font-weight:bold;
}
p.timedout {
  font-weight:bold;
}
p.invalidated {
    font-weight:bold;
}
