#workgroup,description,bandwidth,provision_time,remove_time,link,backup_link,nodes,interfaces,tags,restore_to_primary
"admin","lel","45","-1","-1","auto-3-2--1-3","auto-4-3--3-3,auto-4-2--2-3,auto-2-2--1-2","sw3,sw1","s3-eth1,s1-eth1","454,454","0"
"admin","lel","45","-1","-1","auto-3-2--1-3","auto-4-3--3-3,auto-4-2--2-3,auto-2-2--1-2","sw3,sw1","s3-eth1,s1-eth1","127,127","0"
"admin","lel","45","-1","-1","auto-3-2--1-3","auto-4-3--3-3,auto-4-2--2-3,auto-2-2--1-2","sw3,sw1","s3-eth1,s1-eth1","145,321","0"

