Greetings, [%user%]
           You are receiving a notification because you are a member of workgroup: [%workgroup%]
[% SWITCH type %]
[% CASE 'link_down' %]
An outage on backbone link: [% link_name %] on [% human_time %],
has caused the [% circuits.size + circuits_on_owned_endpoints.size %] circuits listed below to be affected.
[% CASE 'link_up' %]
Backbone link: [% link_name %] has returned to service on [% human_time %], and the below circuits were returned to service:
[% END %]

Circuits In Workgroup [% Workgroup %]
[% FOREACH circuit IN circuits %]
Circuit:      [% circuit.description %]
Action Taken: [% circuit.reason %]
Status:       [% circuit.status %]

[% END %]

[% IF circuits_on_owned_endpoints.size %]

Foreign Circuits on Your Endpoints:

[% FOREACH circuit IN circuits_on_owned_endpoints %]
Circuit:      [% circuit.description %]
Action Taken: [% circuit.reason %]
Status:       [% circuit.status %]

[% END %]


[% END %]
